* {
  box-sizing: border-box;
}
body {
  background-color: rgb(0, 0, 0);
}
.main-wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  color: white;
  text-align: center;
  padding-bottom: 20px;
}
.logo h2 {
  margin: 0;
}
.logo i {
  color: gold;
}
.modal-content {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.modal-icons {
  cursor: pointer;
  padding: 10px;
  background-color: rgba(80, 77, 77, 0.5);
  color: white;
  border-radius: 10px;
  font-size: 30px;
  flex: 1;
  width: 180px;
  transition: background-color 0.5s ease;
  text-align: center;
}

@media (max-width: 768px) {
  .modal-icons {
    flex: none;
    width: calc(50% - 5px);
  }
}

@media (max-width: 475px) {
  .modal-content {
    width: 100%;
    flex-direction: column;
  }
  .modal-icons {
    flex: 1;
    width: 100%;
  }
}
.modal-icons:hover {
  background-color: #073963;
}

.modal-button {
  margin: 0 auto;
  background-color: red;
  color: snow;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 2px solid rgb(235, 184, 184);
}

.flex-center {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.heading {
  color: snow;
  text-align: center;
}

/* Join */

.join-outer-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loading-wrapper {
  height: 200px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.cl-a {
  animation: toggle-view 2s ease 0s infinite;
}
.cl-b {
  animation: toggle-view 2s ease .2s infinite;
}

.cl-c {
  animation: toggle-view 2s ease .4s infinite;
}

.cl-d {
  animation: toggle-view 2s ease .6s infinite;
}
.cl-e {
  animation: toggle-view 2s ease .8s infinite;
}


@keyframes toggle-view {
  0%, 100% {
    font-size: 4px;
  }
  50% {
    font-size: 64px;
  }
}

.chess-loader {
  font-size: 4px;
  color: gray;
  margin-bottom: 20px;
}
.chess-loader-s {
  font-size: 64px;
  color: gray;
  margin-bottom: 66px;
}

.joinInput {
  padding: 10px;
  outline: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}
.user-msg {
  font-size: 1.2rem;
  color: snow;
}
.join-btn {
  margin: 0 auto;
  cursor: pointer;
  display: block;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 22px;
  color: snow;
  background-color: rgb(27, 9, 75);
}

.join-btn:hover {
  background-color: rgb(30, 5, 99);
}
.games {
  background-color: blue;
  margin: 5px 10px;
  border-radius: 10px;
  padding: 10px;
  color: snow;
  cursor: pointer;
  font-weight: bold;
}

.an {
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  color: darkblue;
}
.an:hover {
  color: blue;
}
.sr {
  color: white;
  background-color: gray;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.np {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}
.fb {
  font-size: 2.5em;
  padding: 8px;
  background-color: blue;
  border-radius: 5px;
  color: snow;
  margin: 0 10px;
}
.play {
  font-size: 2.5em;
  color: green;
  padding: 8px;
  border-radius: 5px;
  margin: 0 10px;
}
.down-pane {
  display: none;
  margin-top: 20px;
  font-size: 30px;
}
.d-info-con {
padding: 6px 7px 5px 7px;
background-color: #690b0b;
border-radius: 5px;
margin: 0 5px;
color: snow;
cursor: pointer;
}
.d-rotate {
  padding: 6px 7px 5px 7px;
  background-color: #073963;
  border-radius: 5px;
  margin: 0 5px;
  color: snow;
  cursor: pointer;
}

.floating-logo {
  position: absolute;
  top: 0;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .left-pane {
    display: none;
  }

  .down-pane {
    display: flex;
  }
}
.main-container {
  transition: all 1s ease;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  background-color: gray;
  padding: 10px;
}

.info-container {
  background-color: gray;
  padding: 30px;
  border-radius: 10px;
}

.player-con {
  padding: 10px;
  font-weight: bold;
  color: snow;
  border-radius: 15px;
  text-align: center;
}

.info-con {
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 10px;
  color: aliceblue;
  background-color: #690b0b;
  border-radius: 15px;
  font-weight: bold;
  transition: all 0.5s ease;
}
.info-con:hover {
  background-color: rgb(143, 24, 8);
}

.rotate {
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 20px;
  font-weight: bold;
  color: snow;
  background-color: rgb(6, 13, 112);
  border-radius: 15px;
  transition: all 0.5s ease;
}
.rotate:hover {
  background-color: rgb(16, 24, 136);
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
}

.rotate-con {
  transform: rotate(180deg);
  transform-origin: center;
}

.dark-square {
  background-color: #8f5118;
}

.light-square {
  background-color: rgb(230, 183, 136);
}

.piece-con {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-con,
.curr-con {
  background-color: rgb(159, 226, 72);
}
.prev-con {
  background-color: rgb(222, 241, 133);
}

.check-con {
  background-color: rgb(255, 0, 0);
}

.sug-con {
  background-color: rgb(106, 243, 174);
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .main-container {
    padding: 10px;
  }
  .grid-item {
    font-size: 25px;
  }
  .piece-con {
    height: 43px;
    width: 43px;
  }
  .grid-container {
    padding: 5px;
  }
}

@media (max-width: 375px) {
  .piece-con {
    height: 35px;
    width: 35px;
  }
}
